   /* About css */
#About{
    /* padding: 80px 0   ; */
    color: #abaaba;
    font-family: cursive;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    margin-top: 40px;
    margin-left: 20px;
}
.about-col-1 img{
    width: 450px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 40px;
    object-fit: fill;
    background-color: #545252;
    border: 2px solid #545252;
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 0 40px #000000;
}
.about-col-1 img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 45px #e8ca9e;
}
.dark .about-col-1 img{
    width: 450px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 40px;
    object-fit: fill;
    border: 2px solid #b9b8b6;
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 0 40px #9f9f9e;
}
.dark .about-col-1 img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 45px #e0cbab;
}
.about-col-2{
    flex-basis: 60%;
    color: #808080;
}
.dark .sub-title{
    font-size: 60px;                                        
    font-weight: 600;
    color: rgb(236, 212, 223);
    text-align: center;
    line-height: .8;
    letter-spacing: 2px;
    padding: 80px;
    font-family: cursive;    
}
.sub-title{
    font-size: 60px;                                        
    font-weight: 600;
    color: rgb(123, 122, 122);
    text-align: center;
    line-height: .8;
    letter-spacing: 2px;
    padding: 80px;
    font-family: cursive;    
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    margin-left: 35%;
    margin-top: 50px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #605659;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5ms;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}