*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    width: 100vw;
    min-height: 100vh;
    background-image: url("/public/background.jpg");
    transition: 0.5s;
}
.Container.dark{
    background: #222;
}
    /* Navbar css */
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
    transition: 0.5s;
    height: 85px;
    box-shadow: 0 0 0 1px rgb(184, 184, 186);
}
.logo{
    width: 110px;
    height: 60px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 2px 3px
    wheat, 
    0 0 25px rgb(207, 190, 158), 
    0 0 5px rgb(253, 188, 66);
}
.dark .logo{
    box-shadow: 2px 2px 3px
    rgb(246, 246, 246), 
    0 0 25px rgb(184, 184, 186), 
    0 0 5px rgb(219, 219, 219);
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
    margin-left: 20px;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 23px;
    cursor: pointer;
    color: #000;
    font-family:cursive;
}
li:hover{
    color: rgb(238, 160, 160);
    text-shadow: 1px 1px 3px #ebbfbf;
}
.dark li:hover{
    color: rgb(238, 160, 160);
    text-shadow: 1px 1px 3px #ebbfbf;
}
.toggle-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 80px;
    margin-right: -80px;
}
.search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;

}
.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 150px;
} 
.search-box input::placeholder{
    color: #fff;
}
.search-box img{
    width: 20px;
    cursor: pointer;
}
.dark .navbar{
    background: #000;
    color: #fff;
}
.dark .search-box{
    background: #fff;
}
.dark .search-box input{
    color: #222;
}
.dark .search-box input::placeholder{
    color: #222;
}
.dark li{
    color: #fff;
}
/* Responsive Design */
@media only screen {

}
@media (max-width: 1024px) {
    .navbar {
        flex-direction: row;
        height: auto;
        padding: 15px 5%;
    }
    ul {
        margin: 10px;
    }
    .toggle-icon {  
        margin-right: 0;
    }
    .search-box {
        margin-top: 10px;
        display: none;
    }
    
}

@media (max-width: 768px) {
    ul {
        flex-direction: row;
    }
    ul li {
        margin: 5px;
    }
    .search-box {
        max-width: 100%;
        display: none;
    }
    .search-box input {
        font-size: 14px;
        max-width: 100px;
    }
    .search-box{
        padding: 10px;
    }
    .toggle-icon{
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 5%;
        flex-direction: column;
    }
    .logo {
        width: 90px;
        height: 50px;
        display: none;
    }
    ul {
        display: list-item;
    }
    ul li{
        margin-left: 20px;
    }
    .search-box {
        padding: 5px 10px;
        display: none;
    }
    .search-box input {
        font-size: 12px;
        max-width: 80px;
    }
    .toggle-icon{
        margin-left:330px;
    }
}
        